<a class="anchor" id="{{'anchor'+group.groupId}}"></a>
<div class="productGroup pull-left" id="{{'group'+group.groupId}}">
    <ul>
       <li ng-if="isGroupExpanded(group.groupId)"><div class="pull-left" ><img src="images/icons/minus_orange.png" ng-click="selectMenu('L')"/></div></li>
       <li><div ng-click="selectMenu('L')"><p>&nbsp;&nbsp;{{group.name[1].label}}&nbsp;&nbsp;</p></div></li>
       <li><div ng-if="$index === 0" class="pull-right" id="search"><img src="images/icons/search.png"/></div></li>
       <li><div class="pull-right"><img ng-click="collapse(group.groupId)" ng-if="isGroupExpanded(group.groupId)" src="images/icons/minus_orange.png"/><img ng-click="expand(group.groupId)" ng-if="!isGroupExpanded(group.groupId)" src="images/icons/plus_Blue.png"/></div></li>
    </ul>
</div>

<div class="pull-left" style="width: 100%">
<sub-group ng-show="isGroupExpanded(group.groupId)" ng-repeat="group in group.subgroups" productSubGroup></sub-group>
<product ng-show="isGroupExpanded(group.groupId)" ng-repeat="product in group.products"></product>
</div>