<!--<table style="width: 100%">-->
    <!--<thead>-->
    <!--<a class="anchor" id="{{'anchor'+group.data.igapakId}}"></a>-->
    <!--<tr class="productGroup">-->
        <!--<td style="width: 12%;padding-left: 3px;"><img src="images/icons/exit-door-icon.png"-->
                                                       <!--ng-click="mainctrl.selectMenu('L')"-->
                                                       <!--ng-show="group.expandedInBody"/></td>-->
        <!--<td style="width: 76%"><p>&nbsp;&nbsp;{{group.data.name[1].label}}&nbsp;&nbsp;</p></td>-->
        <!--<td style="width: 12%;padding-right: 3px;"><img class="colland" ng-click="group.expandedInBody=false"-->
                                                        <!--ng-show="group.expandedInBody"-->
                                                        <!--src="images/icons/minus_blue.png"/>-->
            <!--<img class="colland"-->
                 <!--ng-click="group.expandedInBody=true" ng-show="!group.expandedInBody"-->
                 <!--src="images/icons/MenuSectionArrow.png"/></td>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody style="width: 100%">-->
        <!--<sub-group ng-repeat="kid in group.children" ng-if="kid.type=='subgroup'"-->
                   <!--ng-show="kid.parent.expandedInBody"></sub-group>-->
        <!--<product ng-repeat="kid in group.children" ng-if="kid.type=='product'"-->
                 <!--ng-show="kid.parent.expandedInBody"></product>-->
    <!--</tbody>-->
<!--</table>-->

<td>
    <a ng-if="node.type !== 'product'"
       class="anchor"
       id="{{'anchor'+node.data.igapakId}}"></a>
</td>