<div class="sidebar sidebar-left animate-show" parent-active-class="sidebar-left-in"
     ng-show="mainctrl.ui.menudisplayed==='L'">
    <div class="scrollable scrollable-content">
        <!-- Blank DIVs to push actual menu down -->
        <div class="menuFiller">&nbsp;</div>
        <div class="rightMenu">
            <table style="width: 100%;">
                <tr class="menuOption" ng-click="mainctrl.switchScreen(mainctrl.ui.showhome)">
                    <td colspan="2">{{mainctrl.ui.labels.home[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr class="menuOption" ng-if="facility.hasSpecials" ng-click="mainctrl.switchScreen(mainctrl.ui.showSpecials)">
                    <td colspan="2">{{mainctrl.ui.labels.specials[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr class="menuOption" ng-click="mainctrl.switchScreen(mainctrl.ui.showYelp)" ng-if="org.yelpId">
                    <td colspan="2">{{mainctrl.ui.labels.yelpRatings[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr class="menuOption" ng-repeat="group in mainctrl.ui.nodes" ng-click="mainctrl.displayGroup(group)">
                    <td style="width: 87%">{{group.data.name[mainctrl.userLanguage].label}}</td>
                    <td style="width: 13%"><img class="pull-right" src="images/icons/MenuSectionArrow.png"/></td>
                </tr>
            </table>
        </div>
        <div class="menuFiller">&nbsp;</div>
    </div>
</div>