<div class="navbar navbar-app navbar-absolute-top" id="navbar">
  
  <!-- Left nav-bar button -->
  <div class="btn-group pull-left" style="z-index: 1001" ng-click="mainctrl.selectMenu('L')">
    <div class="btn btn-navbar">
      <img src="images/icons/exit-door-icon-02.png" height="30px" width="20px"> <img src="{{mainctrl.getLogo()}}" height="30px" width="70px" />
    </div>
  </div>

  <!-- Page title -->
  <div ng-click="mainctrl.selectMenu('{{mainctrl.ui.menudisplayed}}')" class="navbar-brand-center">
    <h3>{{mainctrl.ui.pagetitle}}</h3>
  </div>
  
  <!-- Right nav-bar button -->
  <div class="btn-group pull-right" ng-click="mainctrl.selectMenu('R')">
    <div class="btn btn-navbar">
      <img src="images/logo.png" height="30px"/>
    </div>
  </div>

</div>