<table style="width:100%; margin-bottom: 0.08em;">
    <tr style="background:#f1f5f7 ">
        <td style="width: 75%; padding-left: 1em ;padding-top: 1.5em; padding-bottom: 1.5em">
            <h5>{{product.name[1].label}}</h5>

            <div>{{product.description[1].label}}</div>
        </td>
        <td style="width: 16%; padding-right: 0.5em">{{product.price | currency}}</td>
        <td style="width: 9%;"><img ng-if="!isProductExpanded(product.productId)"
                                    ng-click="expandProduct(product.productId)" src="images/icons/arrow_down.png"><img
                ng-if="isProductExpanded(product.productId)" ng-click="collapseProduct(product.productId)"
                src="images/icons/arrow_up.png"></td>
    </tr>
    <tr class="userOptions pull-left" ng-show="isProductExpanded(product.productId)">
        <td colspan="3" style="padding: 1em">
            <table style="width: 100%;">
                <tr style="width: 100%">
                    <td style="text-align: center"><img src="images/icons/microphone_grey.png"><br>Listen</td>
                    <td style="text-align: center"><img src="images/icons/select.png"><br>Order</td>
                    <td style="text-align: center"><img src="images/icons/like_grey.png"><br>Like</td>
                    <td style="text-align: center"><div class="wrapper"><img src="images/flags/usa.png"></div>&nbsp;&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--<div class="userOptions">-->
<!--<ul>-->
<!--<li><img src="images/icons/microphone_grey.png"></li>-->
<!--<li><img src="images/icons/select.png"></li>-->
<!--<li><img src="images/icons/heart.png"></li>-->
<!--<li><img src="images/flags/usa.png"></li>-->
<!--</ul>-->
<!--</div>-->