<!--<tr class="product" style="background:#f1f5f7; width:100%">-->
    <!--<td style="width: 76%; padding-left: 1em ;padding-top: 1.5em; padding-bottom: 1.5em">-->
        <!--<h5>{{kid.data.name[1].label}}</h5>-->

        <!--<div>{{kid.data.description[1].label}}</div>-->
    <!--</td>-->
    <!--<td style="width: 18%; padding-right: 0.5em">{{kid.data.price | currency}}</td>-->
    <!--<td style="width: 6%;"><img class="updownArrow" ng-show="!kid.expandedInBody"-->
                                <!--ng-click="kid.expandedInBody = true" src="images/icons/arrow_down.png"><img-->
            <!--ng-show="kid.expandedInBody" ng-click="kid.expandedInBody = false"-->
            <!--src="images/icons/arrow_up.png" class="updownArrow"></td>-->
<!--</tr>-->
<!--<tr class="userOptions" ng-show="kid.expandedInBody">-->
    <!--<td colspan="3" style="padding: 1em">-->
        <!--<table style="width: 100%">-->
            <!--<tr style="width: 100%">-->
                <!--<td style="padding-left:1em ;padding-right:1em ;text-align: center;border-style: solid; border-width: 0 1px 0 0">-->
                    <!--<img src="images/icons/microphone_grey.png"><br>Listen-->
                <!--</td>-->
                <!--<td style="padding-left:1em ;padding-right:1em ;text-align: center;border-style: solid; border-width: 0 1px 0 0">-->
                    <!--<img src="images/icons/select.png"><br>Order-->
                <!--</td>-->
                <!--<td style="padding-left:1em ;padding-right:1em ;text-align: center;border-style: solid; border-width: 0 1px 0 0">-->
                    <!--<img src="images/icons/like_grey.png"><br>Like-->
                <!--</td>-->
                <!--<td style="padding-left:1em ;padding-right:1em ;text-align: center">-->
                    <!--<div class="wrapper"><img src="images/Flags/usa.png"></div>-->
                    <!--&nbsp;&nbsp;</td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</td>-->
<!--</tr>-->

<td style="width: 100%" colspan="3">
    <table width="100%">
        <tr class="product" style="background:#f1f5f7; width:100%">
            <td style="width: 76%; padding-left: 1em ;padding-top: 1.5em; padding-bottom: 1.5em">
                <h5>{{node.data.name[1].label}}</h5>

                <div>{{node.data.description[1].label}}</div>
            </td>
            <td style="width: 18%; padding-right: 0.5em">{{node.data.price | currency}}</td>
            <td style="width: 6%;"><img class="updownArrow" ng-show="!node.expandedInBody"
                                        ng-click="node.expandInBody()"
                                        src="images/icons/arrow_down.png"><img
                    ng-show="node.expandedInBody" ng-click="node.collapseInBody()"
                    src="images/icons/arrow_up.png" class="updownArrow"></td>
        </tr>
        <tr class="userOptions" ng-show="node.expandedInBody">
            <td colspan="3" style="padding: 1em">
                <table style="width: 100%">
                    <tr style="width: 100%">
                        <td style="padding-left:1em ;padding-right:1em ;text-align: center;border-style: solid; border-width: 0 1px 0 0">
                            <img src="images/icons/microphone_grey.png"><br>Listen
                        </td>
                        <td style="padding-left:1em ;padding-right:1em ;text-align: center;border-style: solid; border-width: 0 1px 0 0">
                            <img src="images/icons/select.png"><br>Order
                        </td>
                        <td style="padding-left:1em ;padding-right:1em ;text-align: center;border-style: solid; border-width: 0 1px 0 0">
                            <img src="images/icons/like_grey.png"><br>Like
                        </td>
                        <td style="padding-left:1em ;padding-right:1em ;text-align: center">
                            <div class="wrapper"><img src="images/Flags/usa.png"></div>
                            &nbsp;&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</td>