<div class="animate-show sidebar sidebar-right" parent-active-class="sidebar-right-in" ng-show="menudisplayed==='R'">
    <div class="scrollable scrollable-content">
        <!-- Blank DIVs to push actual menu down -->
        <div class="menuFiller">&nbsp;</div>
        <div class="rightMenu">
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/keypad.png"/> &nbsp; &nbsp; Grid View
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/note.png"/> &nbsp; &nbsp; Menu Sections
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/ribbon.png"/> &nbsp; &nbsp; Recommended
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/like_grey.png"/> &nbsp; &nbsp; Liked
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/shoppingBag.png"/> &nbsp; &nbsp; Shopping Bag
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/gear.png"/> &nbsp; &nbsp; Settings
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/refresh_orange.png"/> &nbsp; &nbsp; Change Language
                    </p>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/usa.png" height=35px width=45px/> &nbsp; &nbsp;English
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/korea.png" height=35px width=45px/> &nbsp; &nbsp;Korean
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/china.png" height=35px width=45px/> &nbsp; &nbsp;Chinese
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/japan.png" height=35px width=45px/> &nbsp; &nbsp;Japanese
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/france.png" height=35px width=45px/> &nbsp; &nbsp;French
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/portugal.png" height=35px width=45px/> &nbsp; &nbsp;Portuguese
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/germany.png" height=35px width=45px/> &nbsp; &nbsp;German
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/russia.png" height=35px width=45px/> &nbsp; &nbsp;Russian
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/iran.png" height=35px width=45px/> &nbsp; &nbsp;Farsi
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/poland.png" height=35px width=45px/> &nbsp; &nbsp;Polish
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/saudi-arabia.png" height=35px width=45px/> &nbsp; &nbsp;Arabian
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/vietnam.png" height=35px width=45px/> &nbsp; &nbsp;Vietnamese
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/spain.png" height=35px width=45px/> &nbsp; &nbsp;Spanish
                        </div>
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div>
                            <img src="images/Flags/india.png" height=35px width=45px/> &nbsp; &nbsp;Hindi
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menuFiller">&nbsp;</div>
    </div>
</div>