<div class="animate-show sidebar sidebar-right" parent-active-class="sidebar-right-in" ng-show="menudisplayed==='R'">
    <div class="scrollable scrollable-content">
        <!-- Blank DIVs to push actual menu down -->
        <div class="menuFiller">&nbsp;</div>
        <div class="rightMenu">
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/keypad.png"/> &nbsp; &nbsp; Grid View
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/note.png"/> &nbsp; &nbsp; Menu Sections
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/ribbon.png"/> &nbsp; &nbsp; Recommended
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/like_grey.png"/> &nbsp; &nbsp; Liked
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/shoppingBag.png"/> &nbsp; &nbsp; Shopping Bag
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/gear.png"/> &nbsp; &nbsp; Settings
                    </p>
                </div>
            </div>
            <div class="menuOption">
                <div>
                    <p>
                        &nbsp; &nbsp; <img src="images/icons/refresh_orange.png"/> &nbsp; &nbsp; Change Language
                    </p>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/usa.png"/>
                        </div>
                        English
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/korea.png"/>
                        </div>
                        &nbsp; &nbsp;Korean
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/china.png"/>
                        </div>
                        &nbsp; &nbsp;Chinese
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/japan.png"/>
                        </div>
                        &nbsp; &nbsp;Japanese
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/france.png"/>
                        </div>
                        &nbsp; &nbsp;French
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/portugal.png"/>
                        </div>
                        &nbsp; &nbsp;Portuguese
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/germany.png"/>
                        </div>
                        &nbsp; &nbsp;German
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/russia.png"/>
                        </div>
                        &nbsp; &nbsp;Russian
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/iran.png"/>
                        </div>
                        &nbsp; &nbsp;Farsi
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/poland.png"/>
                        </div>
                        Polish
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/saudi-arabia.png"/>
                        </div>
                        &nbsp; &nbsp;Arabian
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/vietnam.png"/>
                        </div>
                    </div>
                    &nbsp; &nbsp;Vietnamese
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/spain.png"/>
                        </div>
                        &nbsp; &nbsp;Spanish
                    </div>
                </div>
                <div class="menuSubItem">
                    <div>
                        <div class="wrapperMenu">
                            <img src="images/Flags/india.png"/>
                        </div>
                        &nbsp; &nbsp;Hindi
                    </div>
                </div>
            </div>
        </div>
        <div class="menuFiller">&nbsp;</div>
    </div>
</div>