<div class="animate-show sidebar sidebar-right" parent-active-class="sidebar-right-in"
     ng-show="mainctrl.ui.menudisplayed==='R'">
    <div class="scrollable scrollable-content">
        <!-- Blank DIVs to push actual menu down -->
        <div class="menuFiller">&nbsp;</div>
        <div class="rightMenu">
            <table style="width: 100%;">
                <tr class="menuOption" ng-click="mainctrl.switchScreen(mainctrl.ui.showmain)">
                    <td style="width: 20%"><img src="images/icons/note.png"/></td>
                    <td style="width: 80%">{{mainctrl.ui.labels.menuSections[mainctrl.userLanguage].label}}</td>
                </tr>
                <!--<tr class="menuOption">-->
                    <!--<td><img src="images/icons/ribbon.png"/></td>-->
                    <!--<td>Recommended</td>-->
                <!--</tr>-->
                <tr class="menuOption" ng-click="mainctrl.switchScreen(mainctrl.ui.showliked)">
                    <td><img src="images/icons/like_grey.png"/></td>
                    <td>{{mainctrl.ui.labels.favorites[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr class="menuOption" ng-show="mainctrl.cart.count()>0" ng-click="mainctrl.showCartDetails()">
                    <td>
                        <div class="cartImg"><img src="images/icons/shoppingBag.png"/>{{mainctrl.cart.count()}}</div>
                    </td>
                    <td>{{mainctrl.ui.labels.cart[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr class="menuOption" ng-show="mainctrl.cart.count()=== 0" ng-click="mainctrl.showCartDetails()">
                    <td>
                        <img src="images/icons/shoppingBag.png"/>
                    </td>
                    <td>{{mainctrl.ui.labels.cart[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr class="menuOption">
                    <td><img src="images/icons/refresh_orange.png"/></td>
                    <td>{{mainctrl.ui.labels.changeLang[mainctrl.userLanguage].label}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table style="width: 100%">
                            <tr class="menuSubItem" ng-repeat="lang in mainctrl.ui.languages" ng-click="mainctrl.changeLanguage($index)">
                                <td>
                                    <div class="wrapperMenu">
                                        <img src="images/{{lang.round}}"/>
                                    </div>
                                </td>
                                <td style="text-align: center">{{lang.label}}</td>
                            </tr>
                            <!--<tr class="menuSubItem" ng-click="mainctrl.changeLanguage(1)">-->
                                <!--<td>-->
                                    <!--<div class="wrapperMenu">-->
                                        <!--<img src="images/round-flags/USA.png"/>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="text-align: center">English</td>-->
                            <!--</tr>-->
                            <!--<tr class="menuSubItem" ng-click="mainctrl.changeLanguage(2)">-->
                                <!--<td>-->
                                    <!--<div class="wrapperMenu">-->
                                        <!--<img src="images/round-flags/spain.png"/>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="text-align: center">Spanish</td>-->
                            <!--</tr>-->
                            <!--<tr class="menuSubItem" ng-click="mainctrl.changeLanguage(3)">-->
                                <!--<td>-->
                                    <!--<div class="wrapperMenu">-->
                                        <!--<img src="images/round-flags/germany.png"/>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="text-align: center">German</td>-->
                            <!--</tr>-->
                            <!--<tr class="menuSubItem" ng-click="mainctrl.changeLanguage(4)">-->
                                <!--<td>-->
                                    <!--<div class="wrapperMenu">-->
                                        <!--<img src="images/round-flags/france.png"/>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="text-align: center">French</td>-->
                            <!--</tr>-->
                            <!--<tr class="menuSubItem" ng-click="mainctrl.changeLanguage(5)">-->
                                <!--<td>-->
                                    <!--<div class="wrapperMenu">-->
                                        <!--<img src="images/round-flags/italy.png"/>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="text-align: center">Italian</td>-->
                            <!--</tr>-->
                            </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="menuFiller">&nbsp;</div>
    </div>
</div>