<div class="slide-selector">
    <ul class="slider">
        <li class="arrowLeft" ng-click="prev()"><div><img src="images/icons/leftArrow.png"/></div></li>
        <li>
            <div class="slide">
                <img src="images/{{items[currentIndex].prev.flag}}"/>
                <p>{{items[currentIndex].prev.label}}</p>
                </div>
            </li>
        <li ng-click="onNodeClick({select: currentIndex})">
            <div class="slide-selected">
                <img src="images/{{items[currentIndex].flag}}"/>
                <p>{{items[currentIndex].label}}</p>
                </div>
            </li>
        <li>
            <div class="slide">
                <img src="images/{{items[currentIndex].next.flag}}"/>
                <p>{{items[currentIndex].next.label}}</p>
                </div>
            </li>
        <li>
            <div class="slide">
                <img src="images/{{items[currentIndex].next.next.flag}}"/>
                <p>{{items[currentIndex].next.next.label}}</p>
                </div>
            </li>
        <li class="arrowRight" ng-click="next()"><div><img src="images/icons/rightArrow.png"/></div></li>
        </ul>
    </div>