<table style="width: 100%">
    <thead>
    <tr style="width: 100%">
        <td><img class="separator" src="images/icons/hDots.png" ng-click="mainctrl.selectMenu('L')"/></td>
        <td><p ng-click="$scope.selectMenu('L')">&nbsp;&nbsp;{{group.name[1].label}}&nbsp;&nbsp;</p></td>
        <td><img ng-show="isGroupExpanded(group.groupId)" src="images/icons/MenuSectionArrow.png"/><img
                ng-show="!isGroupExpanded(group.groupId)" src="images/icons/MenuSectionArrow.png"/></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in group.subgroups" style="width: 100%">
        <td colspan="3">
            <sub-group ng-show="isGroupExpanded(group.groupId)"></sub-group>
        </td>
    </tr>
    <tr ng-repeat="product in group.products" style="width: 100%">
        <td colspan="3">
            <product ng-show="isGroupExpanded(group.groupId)"></product>
        </td>
    </tr>
    </tbody>
</table>