/* Begin - animate the menus*/
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

/* End - animate the menus*/

.product-display {
    padding-top: 53px;
    padding-bottom: 55px;
}

.navbar-absolute-bottom img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand-center {
    padding-top: 10px;
}

.navbar-app {
    color: #ffffff;
    background: #e38802;
}

.navbar-absolute-bottom {
    background: #ffffff;
}

.sidebar-left,
.sidebar-right {
    background: #b8bcc0;
    width: 95%;
}

.sidebar-left p,
.sidebar-right p {
    font-size: 1.3em;
}

.sidebar.ng-show {
    opacity: 1;
}

.menuFiller {
    background: #f3f3f3;
    min-height: 50px;
}

.menuFillerBottom {
    background: #f3f3f3;
    min-height: 50px;
}

.menuOption {
    background: #ffffff;
    margin-bottom: 1px;
    padding: 0.7em;
}

.menuOption img {
    height: 20px;
    width: 20px;
}

.menuSubItem {
    min-height: 30px;
    margin-top: 1px;
    padding: 2px;
    background: #b8bcc0;
}

.menuSubItem img {
    height: 30px;
    width: 45px;
}

.product-display {
    background: #c0c0c0;
}

.productGroup {
    width: 100%;
    height: 3.6em;
    padding-bottom: 0.03em;
    background: #c0c0c0;
    position: relative;
    top: 0;
}

.productSubGroup {
    background: #f3f3f3;
    width: 100%;
    height: 3.4em;

}

.productSubGroup ul,
.productGroup ul {
    overflow-x: hidden;
    white-space: nowrap;
    height: 95%;
    width: 100%;
    padding-top: .5em;
    padding-left: 0.4em;
    padding-right: 0.2em;
}

.productGroup ul {
    background: #ffffff;
}

.productSubGroup ul li,
.productGroup ul li {
    display: inline;
}

.productSubGroup ul li div,
.productGroup ul li div {
    float: left;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

#search {
    border-left: 0.3em;
    border-left-color: #c0c0c0;
    margin-left: 0.3em;
}

.productSubGroup ul li div p,
.productGroup ul li div p {
    color: #3d5e85;
    font-size: 1.1em;
}

.productGroup ul li img {
    height: 25px;
    width: 25px;
}

.productSubGroup ul li img {
    height: 8px;
    width: 25px;
}

#rightSubGroupImage {
    height: 25px;
    width: 25px;
}

.userOptions {
    background: #ffffff;
}

.userOptions table tr td{
    margin-left: .2em;
    border-left: #c0c0c0;
}

.wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 4px double #c0c0c0;

}

.wrapper img{
    width: 50px;
    height: 40px;
}
/*.userOptions ul {*/
    /*overflow-x: hidden;*/
    /*white-space: nowrap;*/
    /*height: 95%;*/
    /*width: 100%;*/
/*}*/

/*.userOptions ul li {*/
    /*display: inline;*/
    /*padding: 1.5em;*/
/*}*/

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
