body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/* Begin - animate the menus*/
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

/* End - animate the menus*/
.btn-navbar,
.btn-group
{
    height: 100%;
}

.product-display {
    padding-top: 53px;
    padding-bottom: 55px;
}

.navbar-absolute-bottom img {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand-center {
    padding-top: 10px;
}

.navbar-app {
    color: #ffffff;
    background: #e38802;
}

.navbar-absolute-bottom {
    background: #ffffff;
    z-index: 1002;
}

.sidebar-left,
.sidebar-right {
    background: #b8bcc0;
    width: 70%;
}

.sidebar-left p,
.sidebar-right p {
    font-size: 1.3em;
}

.sidebar.ng-show {
    opacity: 1;
}

.menuFiller {
    background: #f3f3f3;
    min-height: 50px;
}

.menuFillerBottom {
    background: #f3f3f3;
    min-height: 30px;
}

.menuOption {
    background: #ffffff;
    height: 3em;
    padding: 0.3em;
    font-size: 1.2em;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.menuOption img {
    height: 20px;
    width: 20px;
}

.menuOption td {
    padding: 0.5em;
}

.menuSubItem {
    background: #f3f3f3;
    padding-top: 2em;
    padding-bottom: 2em;
    border-style: solid;
    border-width: 0 0 1px 0
}

.menuSubItem td div img {
    height: 40px;
    width: 68px;
}

.cartImg {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #e38802;
    margin-right: 90%;
    position: relative;
    color: #ffffff;
    font-size: .6em;
    text-align: left;
    vertical-align: top;
    padding: 0;
}

.cartImg img{
    width: 20px;
    height: 20px;
}

.product-display {
    background: #c0c0c0;
    width: 100%;
}

.product-display table tr {
    border-style: solid;
    border-width: 0 0 1px 0
}

#anchornode {
    visibility: hidden;
    border-style: none;
    height: 0;
    width: 100%;
}

.inactive {
    opacity: 0.1;
}

.group {
    width: 100%;
    background: #ffffff;
    height: 45px;
    font-size: 1.3em;
}

.group.expanded {
    color: #3d5e85;
}

.product {
    background: #f1f5f7;
    color: #3d5e85;
    width: 100%;
}

.product.expanded {
    background: #ffffff;
    width: 100%;
}

.productTitle {
    font-weight: 400;
    font-size: 1.1em;
}

.prodDescription {
    color: #000000;
}

.productNotification {
    color: #3d5e85;
}

.subgroup,
.product {
    width: 100%;
    vertical-align: middle;
}

.subgroup {
    background: #f3f3f3;
}

.subgroup td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.1em;
}

.subgroup td img,
.group td img {
    height: 25px;
    width: 25px;
}


.updownArrow {
    height: 22px;
    width: 12px;
}

.userOptions {
    background: #ffffff;
    border-style: solid;
    border-width: 1px 0 0 0
}

.userOptions table tr {
    background: #ffffff;
    border-style: none;
}

.userOptions table tr td {
    margin-left: .3em;
    margin-right: .3em;
    border-left: #c0c0c0;
}

.uoptionImg {
    height: 2em;
    width: 2em;
}


.addCart.ng-click-active {
   background: #c0c0c0;
}

.wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 4px double #c0c0c0;

}

.wrapper img {
    width: 50px;
    height: 40px;
}

.wrapperMenu {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 4px solid #c0c0c0;
    white-space: nowrap;
    text-align: center;

}

.wrapperMenu img {
    height: 70px;
    width: 70px;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

#separator {
    width: 8px;
    height: 8px;
    margin-left: 1em;
}

.menubackground {
    opacity: 0.4;
    background: #565656;
}

.Overlay {
    z-index: 1001;
    background: #565656;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.Overlay.ng-hide{
    z-index:0;
}

.yelpAddress {
    width: 100%;
    padding-top: .2em;
    text-align: center;
    font-size: 0.9em;
    border-width: 1px 0 0 0;
    border-style: solid;
}

.reviews {
    position: relative;
    padding: 0.2em;
    padding-top: 0;
    background: #b8bcc0;
    width: 90%;
    margin-left: 5%;
}

.yelp-navbar {
    background: #d80b00;
}


.logo {
    text-align: center;
    width: 100%;
    padding-top: 3.5em;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.7em;
    border-bottom: 1px;
}

.logo img {
    height: 100px;
    padding-bottom: 0.3em;

}

.logo.ng-hide {
    z-index: 0;
}

.productPopup {
    min-width: 80%;
    margin-top: 20%;
    margin-right: 5%;
    margin-left: 5%;
    min-height: 70%;
    background: #f1f5f7;
    caption-side: top;
    border-radius: 5px;
}

.prodPopHeader{
    font-size: 1.1em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    text-align: center;

}
.prodPopDesc {
    text-align: center;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.prodPopPrice {
    text-align: center;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    color: #3d5e85;
    font-size: 1.7em;
}

.prodPopCaption {
    background: #e38802;
    width: 30%;
    height: 3em;
    margin-left: 35%;
    vertical-align: middle;
    padding-top: 0.5em;
    border-radius: 6px;
    text-align: center;
    font-size: 1.3em;
}

.cartItem {
    background: #ffffff;
    width: 100%;
    padding: 0.5em;
}

.cartItem td{
    padding: 0.5em;
}

.cartItemSeq {
    text-align: left;
    padding-left: 0.1em;
    width: 7%;
}

.cartItemLabel {
    width: 65%;
    text-align: left;
}

.cartItemQty{
    width: 15%;
    align-content: flex-end;
}

.cartItemRemove {
    width: 13%;
}

.cartItemRemove img {
    height:25px;
    width: 25px;
    align-self: center;
}

.cartItemSeq,
.cartItemLabel,
.cartItemQty {
    border-width: 0 1px 0 0;
    border-style: solid;
}


.cart.ng-hide{
    z-index: 0;
}

.cartHeader {
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    position: relative;
    font-size: .8em;

}

.cartHeader ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    float: left;
    white-space: nowrap;
    list-style-type: none;
}

.cartHeader ul li {
    display: inline-block;
    text-align: right;
}

.cartHeader ul li div{
    width: 100%;
}

.cartHeader ul li div img{
    height: 25px;
    width: 25px;
    vertical-align: middle;

}

.border-right {
    border-width: 0 1px 0 0;
    border-style: solid;
}

.slider {
    white-space: nowrap;
    list-style-type: none;
    width: 100%;
    padding-left: 0.5em;
    height: 75px;
}

.slider li {
    display: inline-block;
}

.slide,
.slide-selected {
    padding: 3px;
    text-align: center;
}

.slide img,
.slide-selected img{
    height: 40px;
    width: 55px;
}

.slide.ng-click-active,
.slide-selected {
    background: #ffffff;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-radius: 5px;
}

.slide-selector {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.arrowLeft, .arrowRight {
    vertical-align: middle;
    padding-bottom: 4em;
}
.arrowLeft img,
.arrowRight img {
    height: 25px;
}

.arrowLeft {
    padding-right: 0px;
}

.arrowRight {
    padding-left: 2px;
}
.igapakFooter{
    vertical-align: text-bottom;
    padding-top: .5em;
    width: 100%;
}
.igapakFooter tr td{
    font-size: 1.5em;
    text-align: left;
    vertical-align: bottom;
    width: 50%;
    border-width: 0 1px 0 0;
    border-style: solid;
}
