<div ng-controller="MainCtrl as mainctrl">
    <navigation-bar></navigation-bar>
    <!-- display group - subgroup - product -->
    <div class="product-display scrollable scrollable-content {{mainctrl.ui.groupdisplayInactive}}">

        <table style="width: 100%;">

            <!-- Anchor for anchorscroll-->
            <tr id="anchornode" ng-repeat-start="node in mainctrl.ui.flatlist">
                <td>
                    <a ng-if="node.type !== 'product'"
                       class="anchor"
                       id="{{'anchor'+node.data.igapakId}}"></a>
                </td>
            </tr>

            <!-- Group Display-->
            <tr ng-if="node.type === 'group'" class="{{node.type}}" ng-class="node.class">
                <!--<td style="width: 12%;padding-left: 3px;"><img src="images/icons/exit-door-icon.png"-->
                <!--ng-click="mainctrl.selectMenu('L')"-->
                <!--ng-show="node.expandedInBody"/>-->

                <!--</td>-->
                <td ng-click="node.toggleExpand()" style="width: 76%"><p>&nbsp;&nbsp;{{node.data.name[mainctrl.userLanguage].label}}&nbsp;&nbsp;</p>
                </td>
                <td style="width: 12%;padding-left: 3px;">&nbsp;</td>

                <!-- if group with sub groups-->
                <td ng-if="!node.hasSubGroups" style="width: 12%;padding-right: 3px;"><img class="colland"
                                                                                           ng-click="node.collapseInBody()"
                                                                                           ng-show="node.expandedInBody"
                                                                                           src="images/icons/MenuSectionArrow_blue.png"/>
                    <img class="colland"
                         ng-click="node.expandInBody()" ng-show="!node.expandedInBody"
                         src="images/icons/MenuSectionArrow.png"/></td>

                <!-- if group with no sub groups-->
                <td ng-if="node.hasSubGroups" style="width: 12%;padding-right: 3px;"><img class="colland"
                                                                                          ng-click="node.collapseInBody()"
                                                                                          ng-show="node.expandedInBody"
                                                                                          src="images/icons/minus_blue.png"/>
                    <img class="colland"
                         ng-click="node.expandInBody()" ng-show="!node.expandedInBody"
                         src="images/icons/plus_grey.png"/></td>
            </tr>

            <!-- Sub-group display-->
            <tr ng-if="node.type === 'subgroup'" class="{{node.type}}" ng-show="node.parent.expandedInBody">
                <!--<td><img id="separator" src="images/icons/dot.png"/></td>-->
                <td colspan="2" ng-click="node.toggleExpand()"><img id="separator" src="images/icons/dot.png"/>&nbsp;&nbsp;{{node.data.name[mainctrl.userLanguage].label}}&nbsp;&nbsp;
                </td>
                <td><img ng-show="node.expandedInBody" src="images/icons/MenuSectionArrow_blue.png"
                         ng-click="node.collapseInBody()"/><img
                        ng-show="!node.expandedInBody" src="images/icons/MenuSectionArrow.png"
                        ng-click="node.expandInBody()"/></td>
            </tr>


            <!-- Product display-->
            <tr ng-if="node.type === 'product'" class="{{node.type}}" ng-class="node.class"
                ng-show="node.parent.expandedInBody" ng-repeat-end>
                <td style="width: 100%" colspan="3">
                    <table width="100%">
                        <tr ng-click="node.toggleExpand()">
                            <td style="width: 76%; padding-left: 1em ;padding-top: 1.5em; padding-bottom: 1.5em"
                                class="prodDescription">
                                <p class="productTitle">{{node.data.igapakId}}.
                                    {{node.data.name[mainctrl.userLanguage].label}}</p>

                                <div>{{node.data.description[mainctrl.userLanguage].label}}</div>
                                <div class="productNotification">{{node.data.notification}}</div>
                            </td>
                            <td class="price" style="width: 18%; padding-right: 0.5em">{{node.data.price | currency}}
                            </td>
                            <td style="width: 6%;"><img class="updownArrow" ng-show="!node.expandedInBody"
                                                        src="images/icons/arrow_down.png"><img
                                    ng-show="node.expandedInBody"
                                    src="images/icons/arrow_up.png" class="updownArrow"></td>
                        </tr>
                        <tr class="userOptions" ng-show="node.expandedInBody">
                            <td colspan="3" style="padding: 0.3em">
                                <table style="width: 100%">
                                    <tr style="width: 100%">
                                        <td style="width:25%; text-align: center;border-style: solid; border-width: 0 1px 0 0">
                                            <img class="uoptionImg" src="images/icons/microphone_grey.png"><br>Listen
                                        </td>
                                        <td style="width:25%; text-align: center;border-style: solid; border-width: 0 1px 0 0">
                                            <img class="uoptionImg" src="images/icons/select.png"><br>Order
                                        </td>
                                        <td style="width:25%; text-align: center;border-style: solid; border-width: 0 1px 0 0">
                                            <img class="uoptionImg" src="images/icons/like_grey.png"><br>Like
                                        </td>
                                        <td style="width:25%; padding-left:1em; padding-top:1em;text-align: center">
                                            <div class="wrapper"><img src="images/Flags/usa.png"></div>
                                            &nbsp;&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="group"></tr>
        </table>
    </div>
    <div ng-show="mainctrl.ui.menudisplayed !== ''" class="scrollable scrollable-content menubackground"
         ng-click="mainctrl.selectMenu('{{mainctrl.ui.menudisplayed}}')"></div>
    <right-menu></right-menu>
    <left-menu></left-menu>
    <banner-footer></banner-footer>
    <div fullscreen ng-show="mainctrl.ui.showSpecials">
        <table style="width:80%">
            <tr>
                <td>Month</td>
            </tr>
        </table>
    </div>
    <div fullscreen background="#f1f5f7" ng-show="mainctrl.ui.showYelp">
        <div ng-if="yelp" class="navbar navbar-app navbar-absolute-top yelp-navbar">
            <div class="btn-group pull-left">
                <img src="images/icons/yelp.png" ng-click=""/>
            </div>
            <div class="navbar-brand-center">
                <img src="{{yelp.rating_img_url}}"/>
                <p>{{yelp.review_count}} Ratings</p>
            </div>
            <div class="btn-group pull-right" style="padding-top: 0.6em; padding-right: 0.5em;">
                <img src="images/icons/close_lightgrey.png" ng-click="mainctrl.ui.showYelp = false"/>
            </div>
        </div>
        <div class="menuFiller">&nbsp;</div>
        <div class="logo">
            <img src="{{mainctrl.getLogo()}}"/>

            <p>Lorem Ipsum whatever whatever and more whatever whatever!!</p>
        </div>
        <div>
            {{org.street}} <br> {{org.city}} {{org.postCode}}, {{org.country}}
        </div>
        <div class="scrollable scrollable-content reviews">
            <div class="reviewItem" ng-repeat="review in yelp.reviews"> {{review.excerpt}}<br>
               <b>{{review.user.name}}</b> <img src="{{review.rating_image_small_url}}"/>
            </div>
        </div>
    </div>
</div>

